*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
.container{
    background-color: white;
    width: 240px;
    height: 400px;
    margin-top: 20px;
    border-top-left-radius: 40px;
    padding-left: 40px;
    
    border-bottom-left-radius:40px ;
    font-family: "oswald" , sans-serif;
}
#search{
    display: flex;
    margin-top: 30px;
    gap: 15px;
}
#searchBtn{
    width: 20px;
    height: 20px;
    
    
}
input{
    border: none;
    outline: none;
    font-family:"oswald" , sans-serif ;
    
}
input::placeholder{
    font-family: "oswald" , sans-serif;
}
.information{
    margin-top: 20px;
}
#weatherImg{
    width: 80px;
}
#temperature.border{
    border-bottom: 1px solid gainsboro;
    width: 150px;
    padding-bottom: 20px;
    font-size: 30px;
    
}
.date{
    display: flex;
    gap: 5px;
    font-size: 15px;
    
    
    width: 150px;
    padding-top: 20px;
}
#time{
    color: gainsboro;
    font-size: 15px;
}
#description{
    margin-top: 6px;
    font-size: 13px;
}
#cityName{
  
    width: 150px;
    height: 50px;
    color: gainsboro;
    border-radius: 10px;
    padding-left: 55px;
    padding-top: 10px;
    margin-top: 30px;
    font-size: 20px;
}
#cityName.showBackground{
    background-image: url(istockphoto-1146224410-1024x1024.jpg);
}
